<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>
        <property name="hibernate.jdbc.use_streams_for_binary">true</property>
        <property name="hibernate.jdbc.batch_size">0</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.generate_statistics">false</property>
        <!-- Echo all executed SQL to sdtout -->
        <property name="show_sql">true</property>
    	
    	<mapping class="lt.tadasdavidsonas88.dto.UserDetails"></mapping>
    	<mapping class="lt.tadasdavidsonas88.dto.Vehicle"></mapping>
    	<mapping class="lt.tadasdavidsonas88.dto.TwoWheeler"></mapping>
    	<mapping class="lt.tadasdavidsonas88.dto.FourWheeler"></mapping>
    	
    </session-factory>
</hibernate-configuration>
